

.credit {
    font-family: "Mardoto";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 226px;
    margin-left: 24px;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}


.vector {
    height: 47.88px;
    margin-top: 64px;
}

.texts {
    width: 100%;
    display: flex;
    margin-top: 48px;
}

.arrow {
    margin: 0 5px;
}

.main {
    font-size: 16px;
    color: #1d1c20;
    padding-left: 60px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.blog-title1 {
    color: var(--redColor);
    font-size: 14px;
}

.blog-title2 {
    font-size: 48px;
    color: #060606;
    margin-top: 16px;
}

.blog-title3 {
    margin-top: 16px;
    color: #85888A;
    font-size: 20px;
}

.blog-search {
    width: 316px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid #E5E5E5;
    padding: 1% 4%;
    margin-top: 32px;
    background-image: url("img/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    outline: 0;
    background-position: 12px;
    background-size: 16px;
    font-size: 16px;

}


.blog-container {
    width: calc(1440px * 4);
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    margin-left: 112px;
}


.blogs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.blog-item {
    width: 384px;
    height: 426px;
    border-radius: 6px;
    overflow: hidden;
    padding: 32px;
}

.item-img {
    width: 384px;
    height: 240px;
}



.item-date {
    font-size: 12px;
    color: var(--redColor);
    margin-top: 20px;
}

.item-title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(6, 6, 6, 1);
    font-family: Mardoto;
    margin-top: 8px;
}

.item-text {
    font-size: 16px;
    color: #85888A;
    margin-top: 8px;

}

.blog-button {
    display: flex;
}

.blog-button button {
    margin: 5px;
    height: 24px;
    background-color: rgba(45, 156, 219, 0.2);
    text-align: center;
    border: none;
    margin-top: 40px;
}

.button1 {
    width: 95px;
    height: 24px;
    font-size: 12px;
    color: #2a5845;
}

.button2 {
    font-size: 12px;
    color: #3538CD;
    ;
    width: 32px;

}

.button3 {
    font-size: 12px;
    color: #6941C6;
    width: 39px;

}

.colorBlue {
    color: #3538CD;
}

.colorRose {
    color: #C11574;
}

.colorBoldBlue {
    color: #363F72;
}

.colorBl {
    color: #026AA2;
}

.colorRed {
    color: #B93815;
}

.colorPurpl {
    color: #6941C6;
}

.pagination{
    text-align: center;
    margin: 30px;
    user-select: none;
    margin-bottom: 106px;

}
.pagination li{
    display: inline-block;
    margin: 5px;
    line-height: 45px;
    box-shadow: 0 5PX 25px rgb(1 1 1 / 10%);

}

.pagination li a{
    text-decoration: none;
    color: #1D1C20;

}

.previous-page{
    position:absolute;
    left: 50px;
    margin-top: -20px;
    
}
.next-page{
    position: absolute;
    right: 50px;
    font-size: 18px;
}
.current-page, .dots{
    background: #ccc;
    width: 36px;
}

.pagination .active{
    background: #EF4B37;
    color: solid #D8381E    ;
    opacity: 20%;
}
.disable{
    background: #ccc;
} 


